/*** GOOGLE FONTS ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*  font-family: 'Poppins', sans-serif;  */

/* ROOT */
:root {
  --dark_primary: #273f3e;
  --dark_secondary: #3e6564;
  --light_secondary: #f6b213;
  --light_primary: #f9c74f;
  --ligh_subcolor: #faedcd; /*we will see about that*/

  --big_font: 3.2rem;
  --medium_font: 1.8rem;
  --p_font: 0.941rem;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--dark_primary);
  color: var(--light_primary);
}

section {
  padding: 50px 10%;
}

/************* HOME SECTION **************/

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img {
  order: 3;
}

.home-img img {
  height: 70%;
  width: 70%;
}

.home-text span {
  font-size: var(--p_font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big_font);
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p {
  font-size: var(--p_font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--light_primary);
}

.social a:hover {
  color: var(--light_secondary);
}

.contact-btn {
  display: inline-block;
  cursor: pointer;
  background: var(--light_primary);
  color: var(--dark_primary);
  padding: 0.7rem 1.3rem;
  border: 0;
  border-radius: 0.5rem;
}

.contact-btn a {
  color: var(--dark_primary);
}

.contact-btn:hover {
  background: var(--light_secondary);
}

/************* ABOUT SECTION **************/
.heading {
  text-align: center;
}

.heading h2 {
  font-size: 30px;
}

.heading span {
  font-size: var(--p_font);
  color: var(--ligh_subcolor);
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 2rem;
}

.about-img {
  margin: auto;
}

.about-img img {
  height: 320px;
  width: 320px;
}

.about-text p {
  font-size: var(--p_font);
  font-weight: 400;
  text-align: justify;
}

.information {
  margin: 1rem 0 1.4rem;
}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}

.information .info-box .fa-solid {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin: 1rem;
}
/************* SKILLS SECTION **************/
.skills-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;
}

.skills-img {
  width: 80%;
  padding-left: 4rem;
  object-position: center;
}

.bar-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
}

.bar-box h3,
.bar-box span {
  font-size: 1.1rem;
  font-weight: 500;
}

.light-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5rem;
  background: #f6b213 75%;
  border-radius: 0.5rem;
}
.percent-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5rem;
  width: 90%;
  background: crimson;
  border-radius: 0.5rem;
}
/************* SERVICES SECTION **************/

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.services-box {
  padding: 2px;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 0.5rem;
  border-bottom: 2px solid var(--light_primary);
  box-shadow: 0 2px 7px rgba(255, 255, 255, 15%);
}

.services-box .fa-solid {
  padding-top: 2rem;
  font-size: 54px;
  color: var(--light_primary);
}

.services-box h3 {
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem, 0 0.4rem;
}

.services-box a {
  color: var(--light_primary);
  font-size: var(--p_font);
  font-weight: 500;
}

.services-box:hover {
  background: var(--light_primary);
}

.services-box:hover h3 {
  color: var(--dark_primary);
}

.services-box:hover .fa-solid {
  color: var(--dark_secondary);
}
.services-box:hover a {
  color: var(--dark_primary);
}
/************* PORTFOLIO SECTION **************/
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 1rem;
  margin-top: 2rem;
}

.portfolio-img {
  overflow: hidden;
  border-radius: 0.5 rem;
}

.portfolio-img img {
  width: 100%;
  display: block;
}

.portfolio-img img:hover {
  transform: scale(1.1);
  transition: 1s;
}

/************* CONTACT SECTION **************/
.contact-form {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  width: 650px;
}

form input,
form textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: hsla(260, 100, 44, 0.1);
  margin-bottom: 1rem;
  color: var(--dark_primary);
}

form textarea {
  resize: none;
  height: 200px;
  overflow-y: auto;
}

.send-btn {
  width: 160px;
  cursor: pointer;
  background: var(--light_primary);
  color: var(--dark_primary);
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-left: 35%;
}
.send-btn:hover {
  background: var(--light_secondary);
}

/************* COMMENT TEMPLATE **************/
