/*** GOOGLE FONTS ***/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
/*  font-family: 'Poppins', sans-serif;  */

/* ROOT */
:root {
  --dark_primary: #273f3e;
  --dark_secondary: #3e6564;
  --light_secondary: #f6b213;
  --light_primary: #f9c74f;

  --big_font: 3.2rem;
  --medium_font: 1.8rem;
  --p_font: 0.941rem;
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--dark_primary);
  color: var(--light_primary);
}

section {
  padding: 50px 10%;
}

/************* HOME SECTION **************/

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr;
  align-items: center;
  gap: 1rem;
}

.home-img {
  order: 3;
}

.home-img img {
  height: 70%;
  width: 70%;
}

.home-text span {
  font-size: var(--p_font);
  font-weight: 500;
}

.home-text h1 {
  font-size: var(--big_font);
}

.home-text h2 {
  font-size: 1.1rem;
  font-weight: 400;
}

.home-text p {
  font-size: var(--p_font);
  font-weight: 400;
  margin: 0.7rem 0 1rem;
}

.social {
  display: flex;
  flex-direction: column;
}

.social a {
  margin-bottom: 1rem;
  font-size: 22px;
  color: var(--light_primary);
}

.social a:hover {
  color: var(--light_secondary);
}

.btn-contact {
  display: inline-block;
  background: var(--light_primary);
  color: var(--dark_primary);
  padding: 0.7rem 1.3rem;
  border: 0;
  border-radius: 0.5rem;
}

.btn-contact:hover {
  background: var(--light_secondary);
}
/************* COMMENT TEMPLATE **************/
